<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <title>GitGames</title>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'gitjogos/css/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'gitjogos/login.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'gitjogos/imgs/favicon.ico' %}">

</head>

<body class="text-center">
    <form class="form-signin" action="submit" method="post"> {% csrf_token %}
        <a class="mtitle" href="{% url 'home' %}"> <h1 class="font-weight-bold">GameHub</h1></a>
        <h2 class="h3 mb-3 font-weight-normal">Log in</h2>
        <label for="username" class="sr-only">Usuario</label>
        <input id="username" name="username" type="text" class="form-control" placeholder="usuario" required autofocus>
        <label for="password" class="sr-only">Senha</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="senha" required>
        
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'signup' %}">Criar conta</a>
            </div>
            <div class="col-sm">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembrar de mim
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            <strong>ERROR!</strong> {{ message }}
        </div>
        {% endfor %}
        <p class="mt-5 mb-3 text-muted">&copy; GameHub</p>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'gitjogos/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'gitjogos/js/popper.min.js'%}"></script>
    <script src="{% static 'gitjogos/js/bootstrap.min.js'%}"></script>

</body>

</html>