<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ usuario.username }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gitjogos/css/bootstrap.min.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'gitjogos/imgs/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gitjogos/home.css' %}">
</head>

<body>


    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg8" version="1.1" viewBox="0 0 6.3499918 6.3500147"
                    height="39px" width="39px">
							<defs id="defs2" />
							<g transform="translate(-31.18337,-88.53212)" id="layer1">
								<g transform="matrix(2.4229184,0,0,2.4229184,-23.511492,-54.123544)" id="g873">
									<path id="rect815"
										d="m 23.884397,58.877618 c -0.0467,0 -0.09341,0.01789 -0.129191,0.05368 l -0.179668,0.179668 0.265478,0.265478 a 0.20835881,0.20835881 0 0 1 0.04338,-0.0048 0.20835881,0.20835881 0 0 1 0.208362,0.208348 0.20835881,0.20835881 0 0 1 -0.09858,0.176938 v 0.219082 l 0.217192,3.94e-4 c 0.08939,0.02858 0.109012,0.04171 0.161013,0.133557 l 0.13795,0.476299 c 0,0 0.03166,0.113209 -0.0921,0.178716 -0.104419,0.04706 -0.192649,-0.03498 -0.192649,-0.03498 l -0.13151,-0.228267 -0.209684,0.0015 v 4.3e-5 l -0.0042,-1.4e-5 -0.0043,1.4e-5 v -4.3e-5 l -0.206811,-0.0015 -0.129746,0.228267 c 0,0 -0.08705,0.08204 -0.190077,0.03498 -0.12211,-0.06551 -0.09087,-0.178716 -0.09087,-0.178716 l 0.136088,-0.476299 c 0.05131,-0.09185 0.07068,-0.104977 0.15888,-0.133557 l 0.221244,-4.31e-4 v -0.219198 a 0.20835881,0.20835881 0 0 1 -0.09858,-0.176796 0.20835881,0.20835881 0 0 1 0.0023,-0.02925 l -0.27128,-0.27128 -0.779401,0.779387 c -0.07157,0.07157 -0.07157,0.18681 0,0.258383 l 1.127533,1.127532 c 0.07157,0.07157 0.18681,0.07157 0.258383,0 l 1.127532,-1.127532 c 0.07157,-0.07157 0.07157,-0.186811 0,-0.258383 l -1.127532,-1.127533 c -0.03579,-0.03579 -0.08249,-0.05368 -0.129192,-0.05368 z m -0.275658,1.164217 a 0.15865855,0.15865855 0 0 0 -0.158653,0.158652 0.15865855,0.15865855 0 0 0 0.158653,0.158653 0.15865855,0.15865855 0 0 0 0.158667,-0.158653 0.15865855,0.15865855 0 0 0 -0.158667,-0.158652 z m 0.579229,0.0151 a 0.04533102,0.04533102 0 0 0 -0.04533,0.04533 0.04533102,0.04533102 0 0 0 0.04533,0.04533 0.04533102,0.04533102 0 0 0 0.04533,-0.04533 0.04533102,0.04533102 0 0 0 -0.04533,-0.04533 z m -0.579229,0.0403 a 0.10325398,0.10325398 0 0 1 0.103256,0.103256 0.10325398,0.10325398 0 0 1 -0.103256,0.103257 0.10325398,0.10325398 0 0 1 -0.103257,-0.103257 0.10325398,0.10325398 0 0 1 0.103257,-0.103256 z m 0.682485,0.06546 a 0.04533102,0.04533102 0 0 0 -0.04533,0.04533 0.04533102,0.04533102 0 0 0 0.04533,0.04536 0.04533102,0.04533102 0 0 0 0.04533,-0.04536 0.04533102,0.04533102 0 0 0 -0.04533,-0.04533 z m -0.201479,0.01008 a 0.04533102,0.04533102 0 0 0 -0.04533,0.04531 0.04533102,0.04533102 0 0 0 0.04533,0.04536 0.04533102,0.04533102 0 0 0 0.04533,-0.04536 0.04533102,0.04533102 0 0 0 -0.04533,-0.04531 z m 0.108289,0.10829 a 0.04533102,0.04533102 0 0 0 -0.04531,0.04533 0.04533102,0.04533102 0 0 0 0.04531,0.04534 0.04533102,0.04533102 0 0 0 0.04533,-0.04534 0.04533102,0.04533102 0 0 0 -0.04533,-0.04533 z"
										style="opacity:1;fill:#f05033;fill-opacity:1;stroke:none;stroke-width:0.06991991;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
								</g>
							</g>
						</svg>
                <a class="navbar-brand" href="{% url 'home' %}">GameHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form>

                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Olá {{ user.username }}
								</a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'userpage' %}">Perfil</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Minha conta
								</a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'signup' %}">Criar conta</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>


        <nav class="site-header">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Home</a>
                <a class="py-2 d-none d-md-inline-block" href="{% url 'categorias' %}">Categorias</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Novidades</a>
                <a class="py-2 d-none d-md-inline-block" href="#">Comunidade</a>
                <a class="py-2 d-none d-md-inline-block" href="{% url 'about_us' %}">Sobre nós</a>
                <a class="py-2 d-none d-md-inline-block" href="{% url 'gameregister' %}">Upload de jogo</a>
            </div>
        </nav>

    </header>

    <main role="main">
        <!-- Page Content -->
        <div class="container">
            <!-- Portfolio Item Heading -->
            <h1 class="my-4">Pagina do {{usuario.username}}
            </h1>
            <h4>Nome Completo: {{user.first_name}} {{user.last_name}}</h4>
            <h4>Email: {{user.email}}</h4>

            <!-- Related Projects Row -->
            <h3 class="my-4">Seus Jogos</h3>

            <div class="row">


                {% for i in jogo %}

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="../game/{{i.id}}/">
                        <img class="img-fluid" src="{{ i.icone.url }}" alt="">
                    </a>
                </div>
                {% endfor %}

            </div>
            <!-- /.row -->

        </div>

    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>

    <script src="{% static 'gitjogos/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'gitjogos/js/popper.min.js'%}"></script>
    <script src="{% static 'gitjogos/js/bootstrap.min.js'%}"></script>

</body>

</html>