<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <title>GitGames</title>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'gitjogos/css/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'gitjogos/login.css' %}">
	<!-- Favicon -->
    <link rel="icon" href="{% static 'gitjogos/imgs/favicon.ico' %}">

</head>

<body class="text-center">
	<form class="form-signin" method="post">
	    <form method="post">
	        <a class="mtitle" href="{% url 'home' %}"> <h1 class="font-weight-bold">GameHub</h1></a>
	        <h2 class="h3 mb-3 font-weight-normal">Sign up</h2>
	        {% csrf_token %}
	        {% for field in form %}
	            <p>
	            {{ field.label_tag }}<br>
	            {{ field }}
	            {% if field.help_text %}
	                <small style="color: grey"></small>
	            {% endif %}
	            {% for error in field.errors %}
	                <p style="color: red">{{ error }}</p>
	            {% endfor %}
	            </p>
	        {% endfor %}
	        <a href="{% url 'login' %}">Entrar na minha conta</a>
	        <button type="submit">Sign up</button>
	        <p class="mt-5 mb-3 text-muted">&copy; GameHub</p>
	    </form>
	</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'gitjogos/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'gitjogos/js/popper.min.js'%}"></script>
    <script src="{% static 'gitjogos/js/bootstrap.min.js'%}"></script>

</body>

</html>